.title {
  color: blue;
  font-family: verdana;
  font-size: 150%;
}
.text {
  color: red;
  font-family: courier;
  font-size: 100%;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  border: 1px solid powderblue;
  width: 33%;
}
